html{
    background: url(http://www.supah.it/dribbble/008/008.jpg) center / cover no-repeat ;
    height: 85vh;
    position: relative ;
    font-family: 'Roboto', sans-serif;
}
h2{
    color: #565c73;
    text-align: center;
    font-size: 1.8em;
    margin-top: 0;
    font-style: italic;
}
article{
    text-align: center;
  position: absolute;
  top: 49vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  color:rgba(255,255, 255, 0.3);
  margin-bottom: 4em;
  
}
footer{
    text-align: center;
  position: absolute;
  top: 90vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  color:rgba(255,255, 255, 0.3);
  margin-bottom: 0;
  padding-bottom: 0;
}
h1{
    font-style: 900;
    font-size: 17em;
    margin: 0;
}
h3{
    font-size: 3.5em;
    margin-top: 0;
    margin-bottom: 0.4em;

}
h4{
    margin-top: 0;
    font-size: 1.3em;
}
a{
    margin-bottom: 0;
    padding: 1em 2em;
    
    text-transform: uppercase;
    color: rgba(255,255, 255, 0.3);
    text-decoration: none;
}
 a:hover{
    background-color: rgba(255,255, 255, 0.3);
    
    border: 0.1em solid rgba(255,255, 255, 0.3);
    border-radius: 0.8em;
    
}
footer{
    border: 0.1em solid rgba(255,255, 255, 0.3);
    border-radius: 0.8em;

}